[v-cloak] {
	display: none;
}
/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
.font-roboto {
	font-family: 'Roboto', sans-serif;
}
.font-fira {
	font-family: 'Fira Sans', sans-serif;
}
.greyscale {
	filter: grayscale(1);
}
.logo-gradient {
  	background-image:
    	radial-gradient(
    		circle at 50% 60%,
      		#fff,
      		#000
    	);
}

.crawler-gradient {
	background-image: linear-gradient(to right, #712eef, #19113B);
}
.city-gradient {
	background-image: linear-gradient(to right, #19113B, #712eef);
}
.bg-digi {
	background-image: radial-gradient(
		circle at top center,
		#5f1fce, 
		#33019e
	);
}
.animate {
	transition: margin 0.3s ease-in;
}
.sidebar {
	right: -1000px;
}
.sidebar textarea {
	resize: none;
}
@keyframes bounceInRight {
  	from,
  	60%,
  	75%,
  	90%,
  	to {
    	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  	}

  	from {
    	opacity: 0;
    	transform: translate3d(3000px, 0, 0);
  	}

  	60% {
    	opacity: 1;
    	transform: translate3d(-25px, 0, 0);
  	}

  	75% {
    	transform: translate3d(10px, 0, 0);
  	}

  	90% {
    	transform: translate3d(-5px, 0, 0);
  	}

  	to {
    	transform: translate3d(0, 0, 0);
  	}
}
@keyframes bounceOutRight {
  	20% {
    	opacity: 1;
    	transform: translate3d(-20px, 0, 0);
  	}

  	to {
 	   opacity: 0;
    	transform: translate3d(2000px, 0, 0);
  	}
}

.bounceOutRight {
  	animation: bounceOutRight 0.6s forwards;
    -webkit-animation: bounceOutRight 0.6s forwards;
}

.bounceInRight {
  	animation: bounceInRight 0.6s forwards;
    -webkit-animation: bounceInRight 0.6s forwards;
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  	animation: slideInRight 0.6s forwards;
    -webkit-animation: slideInRight 0.6s forwards;
}

@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
